<section class="izin-giris">
  <h1></h1>
  {{izin}}
  <div class="p-fluid">
		<div class="p-grid">
			<div class="p-col-12">
        <div class="card card-w-title">
         <h1>İzin Kayıt</h1>
         <div class="p-grid">
      
      <div class="p-col-12 p-md-2">
        <label htmlFor="dropdown">Personel</label>
      </div>
      <div class="p-col-12 p-md-4">
        <Dropdown v-model="izin.personelBy"  :options="personellistesi" optionLabel="isim" placeholder="Personel Seçiniz" />
      </div>

     <!-- <div class="p-col-12 p-md-2">
        <label htmlFor="autocomplete">Hakediş</label>
      </div> 

      <div class="p-col-12 p-md-4">
        <label htmlFor="autocomplete" :options="personellistesi" optionLabel="isim">Hakedis</label>
      </div>  -->

      <!-- <div class="p-col-12 p-md-2">
        <label htmlFor="autocomplete">Personel</label>
      </div>
      <div class="p-col-12 p-md-4">
        <AutoComplete  placeholder="Personel Seçiniz"  @complete="searchPersonelBasic($event)" field="name" />
      </div> -->

      <div class="p-col-12 p-md-2">
        <label htmlFor="dropdown">Ünvan Bilgileri</label>
      </div>
      <div class="p-col-12 p-md-4">
        <Dropdown v-model="izin.personelBy.unvan" :options="unvanlistesi"  optionLabel="unvanadi" placeholder="Ünvan Seçiniz" />
      </div>

      <div class="p-col-12 p-md-2">
        <label htmlFor="dropdown">İzin Türü</label>
      </div> 
      <div class="p-col-12 p-md-4">
        <Dropdown v-model="izin.izintipi" :options="izinturleri" optionLabel="izinturadi" optionValue="id" placeholder="İzin Türü Seçiniz" />
      </div>

      <div class="p-col-12 p-md-2">
        <label htmlFor="input">Telefon Numarası</label>
      </div>
      <div class="p-col-12 p-md-4">
        <InputText id="telefon" v-model="izin.telefon" mask="(999) 999-9999" />
      </div>
      <div class="p-col-12 p-md-2">
        <label htmlFor="calendar">Başlangıç Tarihi</label>
      </div>
      <div class="p-col-12 p-md-4">
        <Calendar placeholder="Başlangıç Tarihi Seçiniz" :showIcon="true"  v-model="izin.basTarih" />
      </div>

      <div class="p-col-12 p-md-2">
        <label htmlFor="calendar">Bitiş Tarihi</label>
      </div>
      <div class="p-col-12 p-md-4">
        <Calendar placeholder="Bitiş Tarihi Seçiniz" :showIcon="true" mask="99/99/9999"  slotChar="dd/mm/yyyy"
        v-model="izin.sonTarih"

        />
      </div>

      <div class="p-col-12 p-md-2">
        <label htmlFor="input">Toplam İzin Gün Sayısı</label>
      </div>
      <div class="p-col-12 p-md-4">
        <InputText id="input" v-model="izin.izinSuresi" />
      </div>


      <div class="p-col-12 p-md-2">
        <label htmlFor="textarea">İzindeki Adresi</label>
      </div>
      <div class="p-col-12 p-md-4">
        <textarea
          placeholder="Adres"
          v-model="izin.adres"
          :autoResize="true"
          rows="3"
          cols="30"
        />
      </div>
    </div>
      <Button label="Kaydet" @click="izinkaydet()" icon="pi pi-check" class="p-button-success" style="width: 10em; margin-right: .25em"/>

      <Button label="İptal" icon="pi pi-times"  class="p-button-danger" style="width: 10em; margin-right: .25em"/>

</div>

</div>
  </div>
</div>



</section>








