<section class="izin-giris">
{{izin}}

<br/>
<hr/>
<span>{{ izin.basTarih | moment("dddd, MMMM Do YYYY") }}</span>


  <div class="p-fluid">
    <div class="p-grid">
      <div class="p-col-12">
        <div class="card card-w-title">
          <h1>İzin Kayıt</h1>
          <div class="p-grid">

            <div class="p-col-12 p-md-2">
              <label htmlFor="dropdown">Personel</label>
            </div>
            <div class="p-col-12 p-md-4">
              <Dropdown v-model="izin.personelBy" :options="personellistesi" optionLabel="isim"
                placeholder="Personel Seçiniz" />
            </div>

            <div class="p-col-12 p-md-2">
              <label htmlFor="dropdown">Ünvan Bilgileri</label>
            </div>
            <div class="p-col-12 p-md-4">
              <Dropdown v-model="izin.personelBy.unvan" :options="unvanlistesi" optionLabel="unvanadi"
                placeholder="Ünvan Seçiniz" />
            </div>

            <div class="p-col-12 p-md-2">
              <label htmlFor="dropdown">İzin Türü</label>
            </div>
            <div class="p-col-12 p-md-4">
              <Dropdown v-model="izin.izinTipi" :options="izinturleri" optionLabel="izinTip" optionValue="izinTipId"
                placeholder="İzin Türü Seçiniz" />
            </div>

            <div class="p-col-12 p-md-2">
              <label htmlFor="input">Telefon Numarası</label>
            </div>
            <div class="p-col-12 p-md-4">
              <InputText id="telefon" v-model="izin.telefon" mask="(999) 999-9999" />
            </div>
            <div class="p-col-12 p-md-2">
              <label htmlFor="calendar">Başlangıç Tarihi</label>
            </div>
            <div class="p-col-12 p-md-4">
              <Calendar placeholder="Başlangıç Tarihi Seçiniz" :showIcon="true"  dateFormat="dd.mm.yy"
              v-model="izin.basTarih" :locale="tr"
               />
            </div>

            <div class="p-col-12 p-md-2">
              <label htmlFor="calendar">Bitiş Tarihi</label>
            </div>
            <div class="p-col-12 p-md-4">
              <Calendar placeholder="Bitiş Tarihi Seçiniz" :showIcon="true" dateFormat="dd.mm.yy" :locale="tr"
                v-model="izin.sonTarih" :date-select="izinhesapla()" />
            </div>

            <div class="p-col-12 p-md-2">
              <label htmlFor="input">İzinli Gün</label>
            </div>
            <div class="p-col-12 p-md-4">
              <InputText id="input" v-model="izin.izinSuresi" />
            </div>


            <div class="p-col-12 p-md-2">
              <label htmlFor="textarea">İzindeki Adresi</label>
            </div>
            <div class="p-col-12 p-md-4">
              <Textarea  placeholder="Adres" v-model="izin.adres" :autoResize="true" rows="3" cols="50" />
              </div>

      <div class="p-col-12 p-md-2">
        Yarım Gün?
      </div>
      <div class="p-col-12 p-md-4">
        <div class="p-grid">
          <div class="p-col-12">
            <Checkbox
              id="yarimgun"
              v-model="izin.yarimgun"
              :binary="true"
            />
          </div>
        </div>
      </div>
    </div>
      <Button label="Kaydet" @click="izinkaydet()" icon="pi pi-check" class="p-button-success" style="width: 10em; margin-right: .25em"/>

      <Button label="İptal" icon="pi pi-times"  @click="$router.push('izinlist')" class="p-button-danger" style="width: 10em; margin-right: .25em"/>

</div>

</div>
  </div>
</div>



</section>