
<section>
  <h1>İzin Takvim </h1>
  <div class="card card-w-title">
   
    <Calendar v-model="date1" :inline="true"/>

 <!-- <div class="card card-w-title" style="margin-top: 20px">
      <div class="p-col-12">
        <Calendar placeholder="Popup" v-model="date2"/>
      </div> 
      <div class="p-col-12">
        <Calendar placeholder="DateTime" v-model="date3" :showTime="true" dateFormat="dd/mm/yy" />
      </div>
      <div class="p-col-12">
        <Calendar placeholder="Time" v-model="date4" :timeOnly="true" :showTime="true" />
      </div>
      <div class="p-col-12">
        <Calendar placeholder="Button" v-model="date5" :showIcon="true" />
      </div>
      <div class="p-col-12">
        <Calendar placeholder="Multiple Months" v-model="date6" :numberOfMonths="3" />
      </div>
      <div class="p-col-12">
        <Calendar placeholder="Month Picker" v-model="date7" view="month" dateFormat="mm/yy"/>
      </div>
    </div>  -->
  </div>
  
</section>

