<section class="izin-list">
  <div class="card card-w-title">
    <h1>İzin Listesi</h1>

    <Button label="Yeni Kayıt" style="margin-bottom: 10px" @click="$router.push('izingiris')" />


    <DataTable :value="izinlistesi" class="p-datatable-responsive" :selection.sync="selectedIzin" selectionMode="single"
      dataKey="id" :paginator="true" :rows="10" ref="dt">
      <!-- <template #header>
        <div style="text-align: left">
            <Button icon="pi pi-external-link" label="Export" @click="exportCSV($event)" />
        </div>
    </template> -->
      <Column field="personel.adsoyad" header="Personel" :sortable="true">
        <template #body="slotProps">
          <span class="p-column-title">Ad Soyad</span>
          {{slotProps.data.personel.adsoyad}}
        </template>
      
      </Column>
      <Column field="izinturid" header="İzin Türü" :sortable="true" filterMatchMode="contains">
        <template #body="slotProps">
          <span class="p-column-title">İzin Türü</span>
          {{getizinturadi(slotProps.data.izinturid)}} 
        </template>
      
      </Column>
      <Column field="baslamatarihi" header="Başlama Tarihi" :sortable="true">
        <template #body="slotProps">
          <span class="p-column-title">Başlama Tarihi</span>
          {{slotProps.data.baslamatarihi}}
        </template>
      
      </Column>
      <Column field="bitistarihi" header="Bitiş Tarihi" :sortable="true" filterMatchMode="in">
        <template #body="slotProps">
          <span class="p-column-title">Bitiş Tarihi</span>
          {{slotProps.data.bitistarihi}}
        </template>
      
      </Column>
      <Column field="telefon" header="Telefon" :sortable="true" filterMatchMode="in">
        <template #body="slotProps">
          <span class="p-column-title">Telefon</span>
          {{slotProps.data.telefon}}
        </template>
      
      </Column>
      <Column headerStyle="width: 10em; text-align: center" bodyStyle="text-align: center">
      
        <template #header>
          <Button type="button" icon="pi pi-cog"></Button>
        </template>
        <template #body="slotProps">
          <Button type="button" icon="pi pi-file" class="p-button-success" style="margin-right: .5em" @click="belgeindir(slotProps)"></Button>
          <Button type="button" icon="pi pi-pencil" class="p-button-warning" style="margin-right: .5em"  @click="izinguncelle(slotProps)"></Button>
          <Button type="button" icon="pi pi-trash" class="p-button-danger"  v-confirm="{
            loader:true,
            ok:dialog=> izinsil(dialog,slotProps), 
            message: 'İzin silinecek. Emin misiniz?'
          }"></Button>
        </template>
      </Column>
    </DataTable>

 

  </div>
</section>